<h1>About</h1>
<p>This website was created as a class exercise by Sarah Espinosa at the Digital Humanities Winter Institute 2013, led by Jeremy Boggs and Wayne Graham.</p>
<p>Tools used include:</p>
<ul>
	<li><a href="http://www.github.com">GitHub</a></li>
	<li><a href="http://www.heroku.com">Heroku</a></li>
	<li><a href="http://www.pixlr.com/editor">Pixlr Editor</a></li>
	<li><a href="http://rubyonrails.org/">Ruby on Rails</a></li>
</ul>